//font family
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap');


$heading:'Roboto', sans-serif;
$team-members:'Lato', sans-serif;
$team-detail:'Inter', sans-serif;
$holiday:'Ubuntu', sans-serif;
$form:'Manrope', sans-serif;
$leave-history:'Assistant', sans-serif;