@mixin flex($justify-content:"start", $align-items:"start"){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin borderBoxshadow(){
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@mixin leaveBefore(){
    content:'';
    position:absolute;
    width:13px;
    height:13px;
    left:-20px;
}