.backup_container{
    height: 96%;
    padding-left:1.5em;
    margin-top:1.5em;
}
.main_backup_container{
    width:95%;
    height:550px;
    margin-top:10px;
    padding:10px;
    border:1px solid grey;
    border-radius:10px;
    padding-bottom: 1rem;
}
.backup{
    width:50%;
    height:auto;
    border:1px solid grey;
    background-color: #ffe8b8;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.edit_button>button:hover{
    background-color: #524425;
}