.calender_section{
    width:95%;
    height:96%;
    /* border:2px solid black; */
    margin-left:4%;
    padding:5px;    
    padding-left:1.5em;
    padding-top:3rem;
    /* border:1px solid grey; */
}
.main_calender_section{
    width:100%;
    height:100%;
    /* border:1px solid grey; */
}
.chartBox{
    height:85%;
    margin-top:25px;
    /* border:1px solid grey; */
}